@import "../../styles/variables.scss";
@import "../../styles/placeholders.scss";

.dashboard {
  &-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    @include tablet {
      grid-template-columns: 1fr;
      row-gap: 40px;
    }
    @include phone {
      grid-template-columns: 1fr;
      row-gap: 40px;
    }
  }
}
