.input-box {
  display: flex;
  flex-direction: column;
  &-title {
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px;
    &-inputs {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }
  &-text-area {
    resize: none;
    width: 90.5%;
    height: 150px;
  }
  &-input {
    margin-bottom: 10px;
    resize: none;
    width: 90%;
  }
  &-remove {
    margin-left: 15px;
    img {
      height: 30px;
    }
  }
}
